/** @format */

@font-face {
	font-family: "the_battle_continuezregular";
	src: url("fonts/thebattlecont-webfont.woff2") format("woff2"),
		url("fonts/thebattlecont-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bradley_gratisregular";
	src: url("fonts/bradley_gratis-webfont.woff2") format("woff2"),
		url("fonts/thebattlecont-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "sui_generisregular";
	src: url("fonts/sui_generis_rg-webfont.woff2") format("woff2"),
		url("fonts/bradley_gratis-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neuropolregular";
	src: url("fonts/neuropol-webfont.woff2") format("woff2"),
		url("fonts/thebattlecont-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	background-color: black;
}

.navigation {
	height: 40px;
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-right: 120px; /* Move the navigation 30px to the left */
	margin-left: 90px;
	font-family: "sui_generisregular";
	border: 5px solid #c8697f;
	border-radius: 20px;
}

.navigation a {
	margin-right: 80px; /* Adjust the spacing between the items */
	color: #afa395; /* Example text color */
	text-decoration: none; /* Remove underline from links */
}

.row1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.left {
	background-color: black;
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 100px;
	margin-left: 1px;
}

h1 {
	color: #c8697f;
	font-family: "neuropolregular";
	font-size: 30px;
}

h2 {
	color: #c8697f;
	font-family: "neuropolregular";
	font-size: 25px;
	text-align: center;
	margin-right: 160px;
}

p {
	color: #afa395;
	font-family: "sui_generisregular";
}

.right {
	background-color: black;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	margin-top: 20px;
}
.foto {
	margin-left: 25px;
}
.fotocd {
	width: 400px;
}

.row2 {
	display: flex; /* Use flexbox to make the children flex items */
	padding-left: 120px;
	padding-bottom: 100px;
}

.song1,
.song2,
.song3 {
	flex: 1; /* Distribute the available space equally among the three items */
	margin: 5px; /* Optional margin between the images */
}

.foto {
	width: 250px; /* Ensure the image takes up the full width of its container */
	height: 250px; /* Maintain the aspect ratio of the image */
}
