/** @format */
@font-face {
	font-family: "sui_generisregular";
	src: url("fonts/sui_generis_rg-webfont.woff2") format("woff2"),
		url("fonts/bradley_gratis-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "the_battle_continuezregular";
	src: url("fonts/thebattlecont-webfont.woff2") format("woff2"),
		url("fonts/thebattlecont-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: black;
}

main {
	text-align: center;
}

.Welcome {
	max-width: 600px; /* Adjust the maximum width as needed */
	margin: 0 auto; /* Center the element horizontally */
	text-align: center; /* Align text to the left within the centered container */
}

h1 {
	color: #c8697f;
	font-size: 100px;
	font-family: "the_battle_continuezregular";
}

p {
	color: #afa395;
	font-size: 20px;
	font-family: "sui_generisregular";
	margin-bottom: 50px;
}

.center-container {
	margin-top: 20px;
	text-align: center;
}

.light-pink-button {
	background-color: #c8697f; /* Light pink background color */
	color: white; /* Text color */
	border: none;
	border-radius: 10px; /* Rounded edges */
	padding: 15px 30px; /* Adjust padding for button size */
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	font-family: "sui_generisregular";
}

.light-pink-button:hover {
	background-color: #d893a3; /* Slightly darker pink on hover */
}
